.secondary-link.mat-mdc-tab-nav-bar {
  .mdc-tab {
    min-width: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 35px;
    font-size: 13px;
    background-color: theme('colors.teal');
    &:not(:last-of-type) {
      margin-right: 8px;
    }
    &-indicator {
      display: none;
    }
    .mdc-tab__ripple::before,
    .mat-ripple {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }
  .active-link {
    background-color: theme('colors.forest');
  }
}
