.primary-table.mat-mdc-table {
  tr {
    height: 40px;
  }
  th,
  tfoot,
  tr td:first-child {
    background-color: theme('colors.mercury');
  }
  th,
  tr,
  td {
    white-space: nowrap;
    border: 1px solid theme('colors.gravity');
  }
}
