.mdc-button--outlined, .mdc-button--unelevated {
  height: 30px !important;
  font-size: 12px;
}

.mat-mdc-icon-button {
  width: 28px !important;
  height: 28px !important;
  padding: 0 !important;
}