.mat-accordion {
  .mat-expansion-panel {
    margin-bottom: 20px;
    border-radius: 6px !important;
    &-header {
      height: 40px;
    }
  }
  .mat-expansion-indicator{
    &::after {
      border-color: theme('colors.dove');
      margin-bottom: 8px;
    }
  }
}