<div class="main-card relative">
  <ng-container *ngIf="getTables$ | async as tables">
    <input
      #triggerFileInput
      type="file"
      (change)="convertXlsxToJson($event)"
      class="hidden"
    />
    <div class="h-8 absolute z-50">
      <button
        *ngIf="tables.length"
        class="me-2"
        mat-icon-button
        type="button"
        (click)="openSideNavPanel()"
      >
        <mat-icon color="primary">compare_arrows</mat-icon>
      </button>

      <button mat-icon-button type="button" (click)="triggerFileInput.click()">
        <mat-icon color="primary">note_add</mat-icon>
      </button>
    </div>

    <mat-tab-group
      mat-stretch-tabs="false"
      animationDuration="0ms"
      class="excel-tab"
      [selectedIndex]="getActiveTableIndex$ | async"
      (selectedTabChange)="setTabIndex($event.index)"
    >
      <mat-tab *ngFor="let table of tables" [label]="table.fileName" #tableTab>
        <mat-tab-group mat-stretch-tabs="false" class="sheet-tab">
          <mat-tab
            *ngFor="let sheet of table.fileSheets"
            [label]="sheet"
            #sheetTab
          >
            <div
              class="text-dove p-2 text-base"
              *ngIf="!table.fileData[sheet].filteredData.length"
            >
              The sheet is empty
            </div>

            <cdk-virtual-scroll-viewport
              tvsItemSize="48"
              headerHeight="40"
              class="virtual-scroll"
              *ngIf="
                tableTab.isActive &&
                sheetTab.isActive &&
                table.fileData[sheet].filteredData.length
              "
            >
              <table
                class="primary-table"
                mat-table
                [dataSource]="table.fileData[sheet]"
              >
                <ng-container
                  *ngFor="
                    let column of table.fileColumns[sheet];
                    index as trIndex
                  "
                  [matColumnDef]="column"
                  [sticky]="trIndex === 0"
                >
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    [ngClass]="{ 'w-11': column === '#' }"
                  >
                    {{ column }}
                    <span *ngIf="column === '#'">
                      ({{ table.fileData[sheet].filteredData.length }})
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element[column] }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    <div *ngIf="trIndex === 0; else total">Total:</div>
                    <ng-template #total>
                      {{ table.fileFooters[sheet][column] }}
                    </ng-template>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="table.fileColumns[sheet]; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: table.fileColumns[sheet]"
                ></tr>
                <tr
                  mat-footer-row
                  *matFooterRowDef="table.fileColumns[sheet]; sticky: true"
                ></tr>
              </table>
            </cdk-virtual-scroll-viewport>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
