<mat-drawer-container>
  <mat-drawer
    #drawer
    *ngIf="getSideNavPanelContent$ | async as content"
    [opened]="!!content"
    mode="over"
    (closedStart)="onSideNavPanelClose()"
    tabindex="0"
    class="w-[550px]"
  >
    <div class="p-4">
      <div class="flex justify-center items-center mb-4 relative">
        <div class="text-[22px] text-black/[.87] font-medium">Actions</div>

        <button
          mat-icon-button
          type="button"
          class="absolute -top-1 right-0"
          (click)="drawer.close()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <app-table-operations-layout
        *ngIf="sideNavPanelContents.TableCompare"
      ></app-table-operations-layout>
    </div>

    <app-loader *ngIf="getIsRuleLoading$ | async"></app-loader>
  </mat-drawer>

  <mat-drawer-content>
    <nav
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
      mat-stretch-tabs="false"
      class="bg-orientals"
    >
      <ng-container *ngFor="let link of links">
        <span
          #rla="routerLinkActive"
          routerLinkActive="active-link"
          mat-tab-link
          [routerLink]="link.url"
          [ngClass]="{ 'bg-forest': rla.isActive }"
        >
          <mat-icon class="text-white me-2">{{ link.icon }}</mat-icon>
          <span class="text-white">
            {{ link.name }}
          </span>
        </span>
      </ng-container>
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <div class="app-content p-4">
        <router-outlet></router-outlet>
      </div>
    </mat-tab-nav-panel>
  </mat-drawer-content>
</mat-drawer-container>
