<mat-accordion
  *ngIf="getTableOperationsAction$ | async as action"
  multi
  class="mat-accordion"
>
  <mat-expansion-panel
    [expanded]="action.countCriteriaByRow"
    (opened)="
      setTableOperationsAction(tableOperationActions.countCriteriaByRow, true)
    "
    (closed)="
      setTableOperationsAction(tableOperationActions.countCriteriaByRow, false)
    "
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Count criteria by rows</mat-panel-title>
    </mat-expansion-panel-header>
    <app-table-operations-count-in-row></app-table-operations-count-in-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="action.sumCriteriaByColumn"
    (opened)="
      setTableOperationsAction(tableOperationActions.sumCriteriaByColumn, true)
    "
    (closed)="
      setTableOperationsAction(tableOperationActions.sumCriteriaByColumn, false)
    "
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Sum criteria by column/columns</mat-panel-title>
    </mat-expansion-panel-header>
    <app-table-operations-sum-column></app-table-operations-sum-column>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="action.deleteDocuments"
    (opened)="
      setTableOperationsAction(tableOperationActions.deleteDocuments, true)
    "
    (closed)="
      setTableOperationsAction(tableOperationActions.deleteDocuments, false)
    "
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Delete documents</mat-panel-title>
    </mat-expansion-panel-header>
    <app-table-operations-delete-documents></app-table-operations-delete-documents>
  </mat-expansion-panel>
</mat-accordion>
