<mat-accordion multi class="mat-accordion">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Count criteria by rows</mat-panel-title>
    </mat-expansion-panel-header>
    <app-table-operations-count-in-row></app-table-operations-count-in-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Delete documents</mat-panel-title>
    </mat-expansion-panel-header>
    <app-table-operations-delete-documents></app-table-operations-delete-documents>
  </mat-expansion-panel>
</mat-accordion>
